# Build artifacts
build/
libwannier90.egg-info/

# Python cache files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
pyvenv.cfg
Pipfile.*
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
